@font-face {
   font-family: 'GenJyuuGothic-Normal';
   font-display: swap;
   src: url('file:///C:/Users/saori/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-11-18_084116/fonts/GenJyuuGothic-Normal/font.ttf');
}
